<section class="py-5 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3 class="fw-light">For example</h3>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>

      <div *ngIf="!loggedin()" class="alert alert-danger" role="alert">
        Login for services
      </div>
      <div *ngIf="loggedin()" class="alert alert-success" role="alert">
        Login successful
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="../../../assets/image/web.PNG" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="../../../assets/image/web.PNG"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="../../../assets/image/search.PNG" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="../../../assets/image/search.PNG"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="../../../assets/image/ts.PNG" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="../../../assets/image/ts.PNG" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
