<div class="container2">
  <div class="content">
    <div *ngIf="customerType" class="customer-type">
      <h6>
        <button (click)="typeSelection(true)" class="btn-indCustomer">
          Individual Customers
        </button>
      </h6>

      <h6>
        <button (click)="typeSelection(false)" class="btn-corpCustomer">
          Corporate Customers
        </button>
      </h6>

      <div *ngIf="activeForm" class="customer-Form1">
        <form [formGroup]="individualForm">
          <label>First Name</label>
          <input type="text" formControlName="firstName" />
          <br />
          <label>Last Name</label>
          <input type="text" formControlName="lastName" />
          <br />
          <label>National ID</label>
          <input type="number" formControlName="nationalIdentity" />
          <br />
          <label>Birth Date</label>
          <input type="date" formControlName="birthDate" />

          <button
            class="form-next1"
            type="submit"
            [disabled]="!individualForm.valid"
            (click)="setIndCustomer()"
          >
            Next
          </button>
        </form>
      </div>
      <div *ngIf="!activeForm" class="customer-Form2">
        <form [formGroup]="corporateForm">
          <label>Company Name</label>
          <input type="text" formControlName="companyName" />
          <br />
          <label>Tax Number</label>
          <input class="tax-input" type="number" formControlName="taxNumber" />
          <button
            class="form-next2"
            type="button"
            [disabled]="!corporateForm.valid"
            (click)="setCorpCustomer()"
          >
            Next
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="servicelist" class="services">
      <h4 class="services-header">Services</h4>
      <ul>
        <li
          type="radio"
          (click)="selectedService = service"
          class="btn-services"
          *ngFor="let service of services"
        >
          {{ service.id }} - {{ service.name }}
        </li>
        <button class="form-next3" type="button" (click)="addService()">
          Next
        </button>
      </ul>
    </div>
    <div *ngIf="showCustomerInfos" class="customer-infos">
      <h4>Customer</h4>
      <span *ngIf="showIndCustomer">
        First Name: {{ selectedIndCustomer.firstName }}
        <br />
        Last Name: {{ selectedIndCustomer.lastName }}
        <br />
        Birth Date:{{ selectedIndCustomer.birthDate }}
        <br />
        National ID: {{ selectedIndCustomer.nationalIdentity }}
        <br />
      </span>
      <span *ngIf="showCorpCustomer">
        companyName : {{ selectedCorpCustomer.companyName }}
        <br />
        Tax Number : {{ selectedCorpCustomer.taxNumber }}
        <br />
      </span>
      <span>
        <h4>Service</h4>
        {{ serviceSave?.id }}-{{ serviceSave?.name }}
      </span>
      <br />
      <button
        class="form-save"
        routerLink="/customers"
        (click)="activeForm ? saveIndCustomer() : saveCorpCustomer()"
      >
        Save
      </button>
    </div>
  </div>
</div>
