<!-- // NAVBAR -->

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/"
      >Home
      <!-- <img src="" width="50" height="250"> -->
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" *ngIf="loggedin()" routerLink="/customers">
        Customers
      </a>
      <a class="navbar-item" *ngIf="loggedin()" routerLink="/services">
        Services
      </a>
      <!-- <a class="navbar-item" *ngIf="loggedin()"routerLink="/roles">
       Roles
       </a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button
            *ngIf="!loggedin()"
            class="button is-link is-light"
            routerLink="/auth"
          >
            Log In
          </button>
          <button
            *ngIf="loggedin()"
            class="button is-link"
            (click)="onLogOut()"
          >
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
