<section class="py-5 text-center container">
  <img
    src="../../../../assets/image/customers.jpg"
    alt="customer.image"
    width="400"
  />
  <div class="row py-lg-3">
    <p>
      <button
        type="button"
        (click)="getByIndividualCustomers()"
        class="btn btn-primary my-2 btn-lg me-md-2"
      >
        Individual Customers
      </button>
      <button
        type="button"
        (click)="getByCorporateCustomers()"
        class="btn btn-secondary my-2 btn-lg me-md-2"
      >
        Corporate Customers
      </button>
      <button
        type="button"
        (click)="createCustomers()"
        class="btn btn-warning my-2 btn-lg"
      >
        Create New Customer
      </button>
    </p>
  </div>
</section>

<div *ngIf="showCorpCustomersList" class="container">
  <div class="py-5 bg-light" *ngIf="corporateCustomers!">
    <h3 class="fw-light">Customers Filter</h3>

    <div class="row py-lg-3">
      <div class="col-3">
        <label for="">CompanyName</label
        ><input
          type="text"
          class="form-control form-control-lg"
          [(ngModel)]="searchCompanyName"
        />
      </div>
      <div class="col-3">
        <label for="">TaxNumber</label
        ><input
          type="number"
          class="form-control form-control-lg"
          [(ngModel)]="searchTaxNumber"
        />
      </div>
      <div class="col">
        <button type="button" (click)="clearFilter()" class="btn btn-secondary">
          x
        </button>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div
          class="col"
          *ngFor="
            let item of corporateCustomers
              | companyName: searchCompanyName
              | taxNumber: searchTaxNumber
          "
        >
          <div class="card shadow-sm">
            <div class="card-header py-3 text-bg-secondary border-secondary">
              <h6 class="my-0 fw-normal">CustomerId :{{ item.customerId }}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">CompanyName:{{ item.companyName }}</p>
              <p class="card-text">TaxNumber :{{ item.taxNumber }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    (click)="showDetails(item.customerId)"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
                <small class="text-muted">*</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showIndCustomersList" class="container">
  <div class="py-5 bg-light" *ngIf="individualCustomers!">
    <h3 class="fw-light">Customers Filter</h3>
    <div class="row py-lg-3">
      <div class="col">
        <label for="">SearchLastName</label
        ><input
          type="text"
          class="form-control form-control-lg"
          [(ngModel)]="searchLastName"
        />
      </div>
      <div class="col">
        <label for="">SearchFirtName</label
        ><input
          type="text"
          class="form-control form-control-lg"
          [(ngModel)]="searchFirtName"
        />
      </div>
      <div class="col">
        <label for="">SearchNationalIdentity</label
        ><input
          type="number"
          class="form-control form-control-lg"
          [(ngModel)]="searchId"
        />
      </div>
      <div class="col">
        <label for="">SearchBirthDate</label
        ><input
          type="date"
          class="form-control form-control-lg"
          [(ngModel)]="searchBirthDate"
        />
      </div>
      <div class="col">
        <button type="button" (click)="clearFilter()" class="btn btn-primary">
          x
        </button>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div
          class="col"
          *ngFor="
            let item of individualCustomers
              | lastName: searchLastName
              | firtName: searchFirtName
              | customerId: searchId
              | birthDate: searchBirthDate
          "
        >
          <div class="card shadow-sm">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h6 class="my-0 fw-normal">CustomerId :{{ item.customerId }}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">
                Name :{{ item.firstName }}-{{ item.lastName }}
              </p>
              <p class="card-text">
                NationalIdentity: {{ item.nationalIdentity }}
              </p>
              <p class="card-text">BirthDate :{{ item.birthDate }}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    (click)="showDetails(item.customerId)"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
                <small class="text-muted">*</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
