<br />
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6" *ngIf="service != null && isClicked">
      <input class="form-control form-control-lg" [(ngModel)]="service.name" />
    </div>
    <div class="col" *ngIf="service != null && isClicked">
      <button
        class="btn btn-primary btn-lg btn-group-sm"
        (click)="service.id ? updateService() : addService(service)"
      >
        {{ service.id ? "Update" : "Add" }}
      </button>
    </div>
    <div class="col d-grid gap-2 d-md-flex justify-content-md-start">
      <img
        src="../../../assets/image/2074155.png"
        width="50px"
        (click)="add()"
      />
    </div>
  </div>
  <br />
  <div class="">
    <!-- <button class="btn btn-secondary" (click)="add()">Add a new service</button> -->
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7">
      <div class="list-group w-auto" *ngFor="let service of services">
        <a
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{ service.id }}-{{ service.name }}</h6>
            </div>

            <div *ngIf="service.id != null">
              <img
                (click)="update(service)"
                src="../../../assets/image/2074191.png"
                width="40px"
              />
              <img
                (click)="deleteService(service.id)"
                src="../../../assets/image/2074156.png"
                width="40px"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
